body{
    margin:0;
    padding:0;
  
}
.wrapper{
    margin-left: 5%;
    margin-right: 5%;
    background-color:green;
    width:90%;
    height:100%;
}
    
    .arrange-left{
        float:left;
    }
.common-btn{
    height:40px;
    border:1px solid #ddd;
    border-radius: none;
    background-color: #fff;
    text-align: center;
    min-width:50px;
    color:#d19C97;


}
.common-btn span{
    font-size:16px;
    font-weight:800px;
}