.logo h1 {
  margin: 0;
  font-size: 40px;
}
.header{
    margin-top:25px;
}
.logo h1 span:first-of-type {
  padding: 5px 10px;
  border: 1px solid #ddd;
  margin-right: 5px;
  color: #d19c97;
  background-color: white;
}
.searchproduct input {
  width: 70%;
  padding: 10px;
  border-radius: none;
  font-size: 15px;

  border: 1px solid #ddd;
  border-right: none;
  color: #ddd;
}
.searchproduct button {
  height: 40px;
  background-color: #fff;
  border-radius: none;
  border: 1px solid #ddd;

  margin-right: 6px;
  font-size: 18px;
  color: #d19c97;
}
.selected-product {
  text-align:right;
}
